.content-article{
	padding: 10px;
}
#userName, #addName{
	height: 30px;
}

.btn{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;

	text-align: center;
	border-radius: 5px;
	border: 0;
	background: #5cb85c;
	color: #fff;
	margin-left: 20px;
}